<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SimProvider.Save.SaveSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SimProvider.Save.SaveSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <SimProvider.Save.SaveSetting>
            <setting name="path" serializeAs="String">
                <value>Log/save.txt</value>
            </setting>
            <setting name="pathdir" serializeAs="String">
                <value>Log</value>
            </setting>
        </SimProvider.Save.SaveSetting>
    </applicationSettings>
    <userSettings>
        <SimProvider.Save.SaveSetting>
            <setting name="SaveObject" serializeAs="String">
                <value />
            </setting>
        </SimProvider.Save.SaveSetting>
    </userSettings>
</configuration>
